@import 'config';

/*
            Header
*/

.cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
    h1{
        width: 56px;
        height: 56px;
        float: left;
        background: url('../img/logo-mobile.png') center center/56px no-repeat;
        font-size: 0;
    }
    .btn-menu{
        width: 56px;
        height: 56px;
        font-size: 25px;
        float: right;
        text-align: center;
        color: #fff;
        border-radius: 56px;
        cursor: pointer;
        background: linear-gradient(to right, #ce2e36, #da6709);
    }
}

/*
            Menu
*/

.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 1.0);
    top: 0;
    left: 0;
    .btn-close{
        font-size: 3em;
        color: #fff;
        float: right;
        cursor: pointer;
        margin-right: 5%;
    }
    ul{
        width: 100%;
        float: left;
        text-align: center;
        li{
            padding: 1.5%;
            a{
                font-size: 2em;
                color: #fff;
                padding: 1.5% 3%;
                &:hover{
                    border: 1px solid #da6709;
                }
            }
        }
    }
}

/*
            Banner
*/

.banner{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url('../img/bg.jpg') no-repeat fixed;
    .title{
        width: 100%;
        h2{
            font-size: 2em;
            color: #fff;
            font-weight: 700;
        }
        h3{
            font-size: 1em;
            color: #fff;
        }
    }
    .buttons{
        width: 100%;
        i{
            float: right;
        }
        .btn-cadastrar{
            width: 100%;
            font-size: 1.5em;
            text-align: left;
            cursor: pointer;
            padding: 5%;
            border-radius: 10px;
            background-color: #fff;
            color: #130400;
            margin-top: 2%;
        }
        .btn-sobre{
            width: 100%;
            font-size: 1.5em;
            text-align: left;
            cursor: pointer;
            padding: 5%;
            border-radius: 10px;
            background-color: #130400;
            color: #fff;
            margin-top: 2%;
        }
    }
}

/*
            Serviços
*/

.servicos{
    width: 100%;
    float: left;
    padding: 3% 4%;
    .servico{
        width: 100%;
        background-color: #fff;
        text-align: left;
        border-radius: 7%;
        margin-bottom: 3%;
        img{
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
    }
    .inner{
        padding: 7%;
        a{
            font-size: 1.2em;
            color: #130400;
            font-weight: 700;
        }
        h4{
            font-size: 1em;
            color: #130400;
            margin-top: 2%;
        }
        p{
          margin-top: 6%;
          color: #130400;
          line-height: 1.2em;  
        }
    }
}

/*
            Newslatter
*/

.newsletter{
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #130400;
    h2{
        font-size: 1.5em;
        color: #fff;
        font-weight: 700;
    }
    h3{
        color: #fff;
    }
    form{
        margin-top: 2%;
    }
    input{
        background-color: #130400;
        color: #fff;
        border: 1px solid #fff;
        padding: 5%;
        border-radius: 5px;
        width: 100%;
    }
    button{
        width: 100%;
        color: #130400;
        padding: 5%;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 2%;
    }
}

/*
            Rodapé
*/

.rodape{
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background: linear-gradient(to right, #ce2e36, #da6709);
    .social-icons{
        a{
            font-size: 1.5em;
            color: rgba($color: #fff, $alpha: 0.7);
            margin-right: 3%;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: #fff;
            }
        }
    }
    .copyright{
        margin-top: 2%;
        color: rgba($color: #fff, $alpha: 0.7);
    }
}

/*
            Media Types

        Screen:
        Para monitores ou dispositivos com telas
        coloridas e resolução adequada.

        Rrint:
        Para impressoras. Muito usado para dar uma
        versão de impressão pro site.
*/

/*
        Exemplo print:
*/

@media print {
    .banner{
        .title{
            h2{
                color: blue
            }
            h3{
                color: red;
            }
        }
    }
}

/*
        Exemplo media screen:
*/

/*
        Small devices - Smartphones
*/

@media screen and (min-width: 480px){
    .cabecalho{
        h1{
            width: 214px;
            background: url('../img/logo.png') center center/214px no-repeat;
        }
    }
}

/*
        Small devices - Tablets
*/

@media screen and (min-width: 768px){
    .servicos{
        .servico{
            width: 49%;
            float: left;
            margin-right: 2%;
            &:nth-child(2){
                margin-right: 0;
            }
        }
    }
    .newsletter{
        h2{
            font-size: 2em;
        }
        h3{
            font-size: 1.5em;
        }
        input{
            width: 70%;
            padding: 2%;
            float: left;
            margin-right: 1%;
        }
        button{
            width: 29%;
            float: right;
            margin-top: 0;
            padding: 2.1%;
        }
    }
}

/*
        Medium devices - Tablets e desktops
*/

@media screen and (min-width: 960px){
    .banner{
        .title{
            width: 70%;
            float: left;
            margin-right: 1%;
            text-align: left;
            h2{
                font-size: 3em;
            }
            h3{
                font-size: 1.5em;
                color: #fff;
            }
        }
        .buttons{
            width: 29%;
            float: right;
            .btn-sobre{
                margin-top: 4%;
            }
        }
    }
    .servicos{
        .servico{
            width: 32%;
            float: left;
            margin-right: 2%;
            &:nth-child(2){
                margin-right: 2%;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .newsletter{
        input{
            width: 60%;
            float: none;
        }
        button{
            width: 20%;
            float: none;
        }
    }
}

/*
        Large devices - Wide screens
*/

@media screen and (min-width: 1020px){
    .cabecalho{
        .btn-menu{
            display: none;
        }
    }
    .menu{
        width: auto;
        height: 56px;
        line-height: 56px;
        display: block !important;
        float: right;
        background-color: #f5f5f5;
        position: static;
        .btn-close{
            display: none;
        }
        ul{
            width: auto;
            float: left;
            text-align: center;
            li{
                padding: 0;
                float: left;
                a{
                    font-size: 1em;
                    color: #130400;
                    font-size: 1em;
                    padding: 15px;
                    &:hover{
                        border: none;
                        color: #da6709;
                    }
                }
            }
        }
    }
}